@mixin font_1 {
  color: #d9d9d9;
}
@mixin font_2 {
  color: rgb(110, 118, 125);
}

.tweet {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  transition: background-color 0.2s;
  padding: 12px 16px 6px 16px;
  &:hover {
    cursor: pointer;
    background-color: #161616;
  }

  * {
    font-size: 15px;
  }

  .tweet__icon {
    border-radius: 9999px;
    margin-right: 12px;
  }

  .tweet__body {
    flex: 1;
    .body__optional {
      @include font_2;
      &:hover {
        text-decoration: underline;
      }
    }

    .body__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .header__info {
        :not(:last-child) {
          margin-right: 3px;
        }
        #AccountName {
          @include font_1;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
        #AccountAt {
          @include font_2;
        }
        #Dash {
          @include font_2;
        }
        #AgoTime {
          @include font_2;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .header__dots {
        transition: all 0.2s;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        svg {
          max-width: 18.75px;
          max-height: 18.75px;
          color: rgb(102, 101, 101);
        }
        &:hover {
          svg {
            color: rgb(29, 155, 240);
          }
          background-color: rgba(29, 155, 240, 0.1);
        }
      }
    }
    .body__description {
      @include font_1;
      word-break: break-all;
      span {
        font-weight: 400;
      }
    }
    .body__img {
      margin: 10px 0px 5px 0px;
      img {
        border-radius: 16px;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  .reactions {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      > * {
        transition: all 0.2s;
        @include font_2;
      }
      .icon {
        margin-right: 3px;
        border-radius: 9999px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        > * {
          width: 18.75px;
          height: 18.75px;
        }
      }
      span {
        font-size: 13px;
      }
    }
    #comments {
      &:hover {
        .icon {
          background-color: rgba(29, 155, 240, 0.1);
        }
        > * {
          color: rgb(29, 155, 240);
        }
      }
    }
    #retweets {
      &:hover {
        .icon {
          background-color: rgba(0, 186, 124, 0.1);
        }
        > * {
          color: rgb(0, 186, 124);
        }
      }
    }
    #hearts {
      &:hover {
        .icon {
          background-color: rgb(249, 24, 128, 0.1);
        }
        > * {
          color: rgb(249, 24, 128);
        }
      }
    }
    #upload {
      &:hover {
        .icon {
          background-color: rgba(29, 155, 240, 0.1);
        }
        > * {
          color: rgb(29, 155, 240);
        }
      }
    }
  }
}
